imports

In [1]:
import pandas as pd

creating the dataset

In [4]:
data = {'Name': ["Simson", "Anna", "Peter", "Linda", "Maria", "Daniel", "Simon", "Monica"],
        'Profession':["Data Analyst", "Steward", "Refree", "Mechanic", "Pilot", "Nurse", "Police officer", "Doctor"],
        'Gender':[28, 25, 35, 32, 55, 42, 59, 40],
        'Country':["Namibia", "South Africa", "USA", "Canada", "Nigeria", "Germany", "Germany", "Portugal"]}

df = pd.DataFrame(data)

saving the data into a csv file

In [6]:
df.to_csv("Professions.csv", index=False)

reading the csv file

In [ ]:
pd.read_csv('Professions.csv')

     Name      Profession  Gender       Country
0  Simson    Data Analyst      28       Namibia
1    Anna         Steward      25  South Africa
2   Peter          Refree      35           USA
3   Linda        Mechanic      32        Canada
4   Maria           Pilot      55       Nigeria
5  Daniel           Nurse      42       Germany
6   Simon  Police officer      59       Germany
7  Monica          Doctor      40      Portugal