imports

In [2]:
import pandas as pd
import numpy as np

Time series DataFrame

In [3]:
df = pd.DataFrame({
    'Date': pd.date_range(start='2025-07-16', periods=60),
    'Value': np.random.randint(0, 100, size=60)
})

In [7]:
display(df)

         Date  Value
0  2025-07-16     96
1  2025-07-17     44
2  2025-07-18     60
3  2025-07-19     84
4  2025-07-20     11
5  2025-07-21     96
6  2025-07-22     68
7  2025-07-23      0
8  2025-07-24     23
9  2025-07-25      6
10 2025-07-26     37
11 2025-07-27     71
12 2025-07-28      9
13 2025-07-29     64
14 2025-07-30     59
15 2025-07-31     94
16 2025-08-01     48
17 2025-08-02     11
18 2025-08-03     45
19 2025-08-04     99
20 2025-08-05     23
21 2025-08-06     26
22 2025-08-07     88
23 2025-08-08     48
24 2025-08-09     74
25 2025-08-10     26
26 2025-08-11     48
27 2025-08-12      0
28 2025-08-13     53
29 2025-08-14     42
30 2025-08-15     56
31 2025-08-16     70
32 2025-08-17     29
33 2025-08-18     28
34 2025-08-19     81
35 2025-08-20     75
36 2025-08-21     54
37 2025-08-22     68
38 2025-08-23     95
39 2025-08-24     77
40 2025-08-25     55
41 2025-08-26     39
42 2025-08-27     58
43 2025-08-28     84
44 2025-08-29     84
45 2025-08-30      2
46 2025-08-31     33
47 2025-09-01     92
48 2025-09-02     50
49 2025-09-03     53
50 2025-09-04      8
51 2025-09-05     89
52 2025-09-06     48
53 2025-09-07     89
54 2025-09-08     35
55 2025-09-09     26
56 2025-09-10     84
57 2025-09-11     94
58 2025-09-12     26
59 2025-09-13     43

In [11]:
# Exracting Month/Year base value

df["Month/Year"] = df["Date"].dt.strftime("%b/%Y")
display(df)

         Date  Value Month/Year
0  2025-07-16     96   Jul/2025
1  2025-07-17     44   Jul/2025
2  2025-07-18     60   Jul/2025
3  2025-07-19     84   Jul/2025
4  2025-07-20     11   Jul/2025
5  2025-07-21     96   Jul/2025
6  2025-07-22     68   Jul/2025
7  2025-07-23      0   Jul/2025
8  2025-07-24     23   Jul/2025
9  2025-07-25      6   Jul/2025
10 2025-07-26     37   Jul/2025
11 2025-07-27     71   Jul/2025
12 2025-07-28      9   Jul/2025
13 2025-07-29     64   Jul/2025
14 2025-07-30     59   Jul/2025
15 2025-07-31     94   Jul/2025
16 2025-08-01     48   Aug/2025
17 2025-08-02     11   Aug/2025
18 2025-08-03     45   Aug/2025
19 2025-08-04     99   Aug/2025
20 2025-08-05     23   Aug/2025
21 2025-08-06     26   Aug/2025
22 2025-08-07     88   Aug/2025
23 2025-08-08     48   Aug/2025
24 2025-08-09     74   Aug/2025
25 2025-08-10     26   Aug/2025
26 2025-08-11     48   Aug/2025
27 2025-08-12      0   Aug/2025
28 2025-08-13     53   Aug/2025
29 2025-08-14     42   Aug/2025
30 2025-08-15     56   Aug/2025
31 2025-08-16     70   Aug/2025
32 2025-08-17     29   Aug/2025
33 2025-08-18     28   Aug/2025
34 2025-08-19     81   Aug/2025
35 2025-08-20     75   Aug/2025
36 2025-08-21     54   Aug/2025
37 2025-08-22     68   Aug/2025
38 2025-08-23     95   Aug/2025
39 2025-08-24     77   Aug/2025
40 2025-08-25     55   Aug/2025
41 2025-08-26     39   Aug/2025
42 2025-08-27     58   Aug/2025
43 2025-08-28     84   Aug/2025
44 2025-08-29     84   Aug/2025
45 2025-08-30      2   Aug/2025
46 2025-08-31     33   Aug/2025
47 2025-09-01     92  Sept/2025
48 2025-09-02     50  Sept/2025
49 2025-09-03     53  Sept/2025
50 2025-09-04      8  Sept/2025
51 2025-09-05     89  Sept/2025
52 2025-09-06     48  Sept/2025
53 2025-09-07     89  Sept/2025
54 2025-09-08     35  Sept/2025
55 2025-09-09     26  Sept/2025
56 2025-09-10     84  Sept/2025
57 2025-09-11     94  Sept/2025
58 2025-09-12     26  Sept/2025
59 2025-09-13     43  Sept/2025

In [13]:
# Extracting weekly values
df["Week/Year"] = df["Date"].dt.strftime("%U/%Y")
display(df)

         Date  Value Month/Year Week/Year
0  2025-07-16     96   Jul/2025   28/2025
1  2025-07-17     44   Jul/2025   28/2025
2  2025-07-18     60   Jul/2025   28/2025
3  2025-07-19     84   Jul/2025   28/2025
4  2025-07-20     11   Jul/2025   29/2025
5  2025-07-21     96   Jul/2025   29/2025
6  2025-07-22     68   Jul/2025   29/2025
7  2025-07-23      0   Jul/2025   29/2025
8  2025-07-24     23   Jul/2025   29/2025
9  2025-07-25      6   Jul/2025   29/2025
10 2025-07-26     37   Jul/2025   29/2025
11 2025-07-27     71   Jul/2025   30/2025
12 2025-07-28      9   Jul/2025   30/2025
13 2025-07-29     64   Jul/2025   30/2025
14 2025-07-30     59   Jul/2025   30/2025
15 2025-07-31     94   Jul/2025   30/2025
16 2025-08-01     48   Aug/2025   30/2025
17 2025-08-02     11   Aug/2025   30/2025
18 2025-08-03     45   Aug/2025   31/2025
19 2025-08-04     99   Aug/2025   31/2025
20 2025-08-05     23   Aug/2025   31/2025
21 2025-08-06     26   Aug/2025   31/2025
22 2025-08-07     88   Aug/2025   31/2025
23 2025-08-08     48   Aug/2025   31/2025
24 2025-08-09     74   Aug/2025   31/2025
25 2025-08-10     26   Aug/2025   32/2025
26 2025-08-11     48   Aug/2025   32/2025
27 2025-08-12      0   Aug/2025   32/2025
28 2025-08-13     53   Aug/2025   32/2025
29 2025-08-14     42   Aug/2025   32/2025
30 2025-08-15     56   Aug/2025   32/2025
31 2025-08-16     70   Aug/2025   32/2025
32 2025-08-17     29   Aug/2025   33/2025
33 2025-08-18     28   Aug/2025   33/2025
34 2025-08-19     81   Aug/2025   33/2025
35 2025-08-20     75   Aug/2025   33/2025
36 2025-08-21     54   Aug/2025   33/2025
37 2025-08-22     68   Aug/2025   33/2025
38 2025-08-23     95   Aug/2025   33/2025
39 2025-08-24     77   Aug/2025   34/2025
40 2025-08-25     55   Aug/2025   34/2025
41 2025-08-26     39   Aug/2025   34/2025
42 2025-08-27     58   Aug/2025   34/2025
43 2025-08-28     84   Aug/2025   34/2025
44 2025-08-29     84   Aug/2025   34/2025
45 2025-08-30      2   Aug/2025   34/2025
46 2025-08-31     33   Aug/2025   35/2025
47 2025-09-01     92  Sept/2025   35/2025
48 2025-09-02     50  Sept/2025   35/2025
49 2025-09-03     53  Sept/2025   35/2025
50 2025-09-04      8  Sept/2025   35/2025
51 2025-09-05     89  Sept/2025   35/2025
52 2025-09-06     48  Sept/2025   35/2025
53 2025-09-07     89  Sept/2025   36/2025
54 2025-09-08     35  Sept/2025   36/2025
55 2025-09-09     26  Sept/2025   36/2025
56 2025-09-10     84  Sept/2025   36/2025
57 2025-09-11     94  Sept/2025   36/2025
58 2025-09-12     26  Sept/2025   36/2025
59 2025-09-13     43  Sept/2025   36/2025

In [14]:
# Getting mean values per week
df.groupby("Week/Year") ["Value"].mean()

Week/Year
28/2025    71.000000
29/2025    34.428571
30/2025    50.857143
31/2025    57.571429
32/2025    42.142857
33/2025    61.428571
34/2025    57.000000
35/2025    53.285714
36/2025    56.714286
Name: Value, dtype: float64

In [15]:
# Getting max values per week
df.groupby("Week/Year") ["Value"].max()

Week/Year
28/2025    96
29/2025    96
30/2025    94
31/2025    99
32/2025    70
33/2025    95
34/2025    84
35/2025    92
36/2025    94
Name: Value, dtype: int32

In [16]:
#Getting the mean, sum and stdv in the dataset
df.groupby("Week/Year")["Value"].agg(["mean", "sum", "std"])

                mean  sum        std
Week/Year
28/2025    71.000000  284  23.409400
29/2025    34.428571  241  35.584909
30/2025    50.857143  356  31.237950
31/2025    57.571429  403  29.871152
32/2025    42.142857  295  22.937804
33/2025    61.428571  430  25.696025
34/2025    57.000000  399  29.473152
35/2025    53.285714  373  29.651949
36/2025    56.714286  397  30.885349