# Series and Dataframes

### Series: are One-dimensial labeled arrays of values
### DataFrames: are Two-dimensional labeled data structures with columns of potentially different types.

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mt

In [3]:
#creating a Series
data = pd.Series([1, 2, 3, 4, 5], index=["a", "b", "c", "d", "e"])
print(data)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
# Creating a DataFrame
data = {'Name': ["Simson", "Anna", "Peter", "Linda", "Maria", "Daniel", "Simon", "Monica"],
        'Age': [28, 25, 35, 32, 90, 42, 23, 16],
        'Country': ["Namibia", "South Africa", "USA", "Canada", "Nigeria", "Germany", "Germany", "Portugal"]}
df = pd.DataFrame(data)
print(df)

df.head(4)

     Name  Age       Country
0  Simson   28       Namibia
1    Anna   25  South Africa
2   Peter   35           USA
3   Linda   32        Canada
4   Maria   90       Nigeria
5  Daniel   42       Germany
6   Simon   23       Germany
7  Monica   16      Portugal

     Name  Age       Country
0  Simson   28       Namibia
1    Anna   25  South Africa
2   Peter   35           USA
3   Linda   32        Canada