In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo", "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two", "one", "one", "two", "two"],
                   "C": ["java", "python", "golang", "next.js", "node.js", "SQL", "Postgress", "Tensor Flow", "TensorFlow"],
                   "D": [1, 2, 3, 4, 5, 6, 7, 8, 9],
                   "E": [2, 4, 6, 7, 8, 9, 8, 5, 4]})

working with melt

In [4]:
df.melt(
    id_vars=["A"],
    var_name="Metrics",
    value_name="Value"
)

      A Metrics        Value
0   foo       B          one
1   foo       B          one
2   foo       B          one
3   foo       B          two
4   foo       B          two
5   bar       B          one
6   bar       B          one
7   bar       B          two
8   bar       B          two
9   foo       C         java
10  foo       C       python
11  foo       C       golang
12  foo       C      next.js
13  foo       C      node.js
14  bar       C          SQL
15  bar       C    Postgress
16  bar       C  Tensor Flow
17  bar       C   TensorFlow
18  foo       D            1
19  foo       D            2
20  foo       D            3
21  foo       D            4
22  foo       D            5
23  bar       D            6
24  bar       D            7
25  bar       D            8
26  bar       D            9
27  foo       E            2
28  foo       E            4
29  foo       E            6
30  foo       E            7
31  foo       E            8
32  bar       E            9
33  bar       E            8
34  bar       E            5
35  bar       E            4

In [5]:
df.stack()

0  A            foo
   B            one
   C           java
   D              1
   E              2
1  A            foo
   B            one
   C         python
   D              2
   E              4
2  A            foo
   B            one
   C         golang
   D              3
   E              6
3  A            foo
   B            two
   C        next.js
   D              4
   E              7
4  A            foo
   B            two
   C        node.js
   D              5
   E              8
5  A            bar
   B            one
   C            SQL
   D              6
   E              9
6  A            bar
   B            one
   C      Postgress
   D              7
   E              8
7  A            bar
   B            two
   C    Tensor Flow
   D              8
   E              5
8  A            bar
   B            two
   C     TensorFlow
   D              9
   E              4
dtype: object

In [6]:
df.unstack()

A  0            foo
   1            foo
   2            foo
   3            foo
   4            foo
   5            bar
   6            bar
   7            bar
   8            bar
B  0            one
   1            one
   2            one
   3            two
   4            two
   5            one
   6            one
   7            two
   8            two
C  0           java
   1         python
   2         golang
   3        next.js
   4        node.js
   5            SQL
   6      Postgress
   7    Tensor Flow
   8     TensorFlow
D  0              1
   1              2
   2              3
   3              4
   4              5
   5              6
   6              7
   7              8
   8              9
E  0              2
   1              4
   2              6
   3              7
   4              8
   5              9
   6              8
   7              5
   8              4
dtype: object

In [7]:
df.stack().unstack()

     A    B            C  D  E
0  foo  one         java  1  2
1  foo  one       python  2  4
2  foo  one       golang  3  6
3  foo  two      next.js  4  7
4  foo  two      node.js  5  8
5  bar  one          SQL  6  9
6  bar  one    Postgress  7  8
7  bar  two  Tensor Flow  8  5
8  bar  two   TensorFlow  9  4

In [9]:
df.pivot(
    columns="B",
    index="E",
    values="C"
)

display(df)

     A    B            C  D  E
0  foo  one         java  1  2
1  foo  one       python  2  4
2  foo  one       golang  3  6
3  foo  two      next.js  4  7
4  foo  two      node.js  5  8
5  bar  one          SQL  6  9
6  bar  one    Postgress  7  8
7  bar  two  Tensor Flow  8  5
8  bar  two   TensorFlow  9  4

In [13]:
df.pivot_table(
    values="D",
    index="E",
    columns="B",
    aggfunc={"D": ["min", "max", "std"]}
)

   max       min
B  one  two  one  two
E
2  1.0  NaN  1.0  NaN
4  2.0  9.0  2.0  9.0
5  NaN  8.0  NaN  8.0
6  3.0  NaN  3.0  NaN
7  NaN  4.0  NaN  4.0
8  7.0  5.0  7.0  5.0
9  6.0  NaN  6.0  NaN